<h1> <%= @unwanted.title %> </h1> <br>
<%= @unwanted.description %> <br> 
<br>
<%= image_tag @unwanted.image %> <br>

<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              unwanteds_path, :class => 'btn btn-default'  %>

